#s-aadf556d-7c69-45b2-95ab-b356661123bd > #backgroundBox {
  position: absolute;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd > #alignmentBox {
  position: relative;
  max-width: 800.0px;
  max-height: 1280.0px;
  width: 100%;
  height: 100%;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image {
  position: absolute;
  width: 640.0000000000006px;
  height: 290.1950480881232px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Line {
  position: absolute;
  width: 1280.48681640625px;
  height: 3.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: right;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_2 span {
  color: #FB0505;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FB0505;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_4 {
  position: absolute;
  width: 754.0000000000003px;
  min-height: 95.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_4 span {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 13.5pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #555555;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 13.5pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_2 {
  position: absolute;
  width: 45.99999999999977px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_2 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_2 > .backgroundLayer > .colorLayer {
  background-color: #163683;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_2 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_2 .paddingLayer {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_2 span#rtr-s-raised_Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_47 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled {
  position: absolute;
  width: 55.00000000000023px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled > .backgroundLayer > .colorLayer {
  background-color: #EEEEEE;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled .paddingLayer {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled span {
  color: #363636;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled span#rtr-s-raised_Button_disabled_0 {
  color: #363636;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_1 {
  position: absolute;
  width: 45.99999999999977px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_1 > .backgroundLayer > .colorLayer {
  background-color: #163683;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_1 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_1 .paddingLayer {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_1 span#rtr-s-raised_Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_48 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Single-line-item {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Single-line-item > .backgroundLayer > .colorLayer {
  background-color: #EAE7E7;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Single-line-item .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Single-line-item .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Single-line-item span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 20px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Single-line-item span#rtr-s-Single-line-item_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 20px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Line_3 {
  position: absolute;
  width: 1275.1746826171875px;
  height: 3.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_5 {
  position: absolute;
  width: 45.99999999999977px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_5 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_5 > .backgroundLayer > .colorLayer {
  background-color: #163683;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_5 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_5 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_5 .paddingLayer {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_5 span#rtr-s-raised_Button_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_52 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_2 {
  position: absolute;
  width: 55.00000000000023px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_2 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_2 > .backgroundLayer > .colorLayer {
  background-color: #EEEEEE;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_2 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_2 .paddingLayer {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_2 span {
  color: #363636;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_2 span#rtr-s-raised_Button_disabled_2_0 {
  color: #363636;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_6 {
  position: absolute;
  width: 45.99999999999977px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_6 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_6 > .backgroundLayer > .colorLayer {
  background-color: #163683;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_6 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_6 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_6 .paddingLayer {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_6 span#rtr-s-raised_Button_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_53 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_24 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_54 .imageViewport > * {
  width: 100.0%;
  height: 248.12294109271144%;
  left: -0.0%;
  top: -0.0%;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_54 {
  position: absolute;
  width: 85.99999999999983px;
  height: 35.308087341494684px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_25 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_26 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_26 span {
  color: #F60808;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #F60808;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Line_4 {
  position: absolute;
  width: 1275.1746826171875px;
  height: 3.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_7 {
  position: absolute;
  width: 45.99999999999977px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_7 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_7 > .backgroundLayer > .colorLayer {
  background-color: #163683;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_7 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_7 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_7 .paddingLayer {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_7 span#rtr-s-raised_Button_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_55 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_3 {
  position: absolute;
  width: 55.00000000000023px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_3 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_3 > .backgroundLayer > .colorLayer {
  background-color: #EEEEEE;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_3 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_3 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_3 .paddingLayer {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_3 span {
  color: #363636;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_disabled_3 span#rtr-s-raised_Button_disabled_3_0 {
  color: #363636;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_8 {
  position: absolute;
  width: 45.99999999999977px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_8 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_8 > .backgroundLayer > .colorLayer {
  background-color: #163683;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_8 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_8 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_8 .paddingLayer {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-raised_Button_8 span#rtr-s-raised_Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 14.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_56 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_57 .imageViewport > * {
  width: 1826.2242258603458%;
  height: 204.79527829720618%;
  left: -1646.2333862206435%;
  top: -76.62450456139803%;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_57 {
  position: absolute;
  width: 12.740282622309422px;
  height: 45.99968032291417px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_28 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_29 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_29 span {
  color: #F60808;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #F60808;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_5 {
  position: absolute;
  width: 242.9999947188062px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FA4C06;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_5 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 39px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_6 {
  position: absolute;
  width: 194.999994718806px;
  min-height: 48.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_6 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 39px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.0pt;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Image_39 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Input.checked > .backgroundLayer {
  background-image: url('../../images/a0b9475d-86dd-45e7-978d-99aeb1d320cf.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Input.unchecked > .backgroundLayer {
  background-image: url('../../images/63663806-c525-42b9-b686-5d5fcefa1256.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Input {
  position: absolute;
  width: 29.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Input_1.checked > .backgroundLayer {
  background-image: url('../../images/3e4843b5-0dc8-4201-935f-0cf3ff72c2d4.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Input_1.unchecked > .backgroundLayer {
  background-image: url('../../images/e769a0d0-ac32-4734-beff-e54c5b6fffd6.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd #s-Input_1 {
  position: absolute;
  width: 29.0px;
  height: 27.154615584231806px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-aadf556d-7c69-45b2-95ab-b356661123bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}