#s-f92dd872-337e-473c-91e4-d541fcb599c2 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 > #alignmentBox {
  position: relative;
  max-width: 800.0px;
  max-height: 1280.0px;
  width: 100%;
  height: 100%;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Image_2 {
  position: absolute;
  width: 194.0px;
  height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Image_3 {
  position: absolute;
  width: 263.32142857142856px;
  height: 101.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_1 {
  position: absolute;
  width: 1059.9999999999984px;
  min-height: 250.59112765879036px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_1 span {
  color: #F9F9F9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #F9F9F9;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Image_4 {
  position: absolute;
  width: 121.0px;
  height: 99.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 {
  position: absolute;
  width: 1059.9999999999986px;
  height: 58.500000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 input {
  color: #E63D3D;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #4E525B;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_1 {
  position: absolute;
  width: 83.09277343750057px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_2 {
  position: absolute;
  width: 106.50000000000034px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_3 {
  position: absolute;
  width: 58.185546875px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_2 input::-moz-placeholder {
  color: #82888C;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_2 input:-moz-placeholder {
  color: #82888C;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_2 {
  position: absolute;
  width: 213.9999999999999px;
  height: 23.90376569037653px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_1 {
  position: absolute;
  width: 213.9999999999999px;
  height: 23.90376569037653px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_2 .line_options.selected {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_2 .selected > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_2 .line_options:hover {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_2 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_2 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_2 {
  position: absolute;
  width: 213.9999999999999px;
  height: 23.90376569037676px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Line_1 {
  position: absolute;
  width: 213.35874938964844px;
  height: 2.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_1 {
  position: absolute;
  width: 129.99999999999966px;
  min-height: 37.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #1A3386;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_1 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_1 span {
  color: #EDEAEA;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #EDEAEA;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_2 {
  position: absolute;
  width: 180.9999999999992px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #E2521D;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_2 span {
  color: #EDEAEA;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #EDEAEA;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_2 {
  position: absolute;
  width: 1059.9999999999984px;
  min-height: 250.59112765879036px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_2 span {
  color: #F9F9F9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #F9F9F9;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 {
  position: absolute;
  width: 1059.9999999999977px;
  height: 58.50000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 input {
  color: #E63D3D;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #4E525B;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_3 {
  position: absolute;
  width: 129.99999999999955px;
  min-height: 32.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #1A3386;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_3 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_3 span {
  color: #EDEAEA;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #EDEAEA;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_4 {
  position: absolute;
  width: 129.99999999999955px;
  min-height: 32.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #E2521D;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_4 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_4 span {
  color: #EDEAEA;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #EDEAEA;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Image_5 {
  position: absolute;
  width: 121.0px;
  height: 123.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_5 {
  position: absolute;
  width: 87.91857296204068px;
  min-height: 20.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_6 {
  position: absolute;
  width: 96.04315748493303px;
  min-height: 40.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_6 span#rtr-s-Paragraph_6_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_7 {
  position: absolute;
  width: 123.63937821283656px;
  min-height: 40.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_3 .line_options.selected {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_3 .selected > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_3 .line_options:hover {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_3 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_3 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_3 {
  position: absolute;
  width: 214.0px;
  height: 29.604166666666742px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_4 .line_options.selected {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_4 .selected > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_4 .line_options:hover {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_4 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_4 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_4 {
  position: absolute;
  width: 214.0px;
  height: 29.60416666666663px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_5 .line_options.selected {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_5 .selected > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_5 .line_options:hover {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_5 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_5 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_5 {
  position: absolute;
  width: 214.0px;
  height: 29.60416666666663px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_6 .line_options.selected {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_6 .selected > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_6 .line_options:hover {
  background-color: #000000 !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 .s-Category_6 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_6 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_6 {
  position: absolute;
  width: 214.0px;
  height: 29.60416666666663px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 #s-Category_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f92dd872-337e-473c-91e4-d541fcb599c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}