.s800x1280 #jim-mobile {
  width: 880.0px;
}
.s800x1280 #jim-mobile.landscape {
  width: 1360.0px;
  height: 880.0px;
}
.s800x1280 #jim-case {
  width: 880.0px;
  height: 1360.0px;
}
.s800x1280 #jim-container.portrait {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 800.0px;
  height: 1280.0px;
}
.s800x1280 #jim-container.landscape {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 1280.0px;
  height: 800.0px;
}
.s800x1280 #jim-case #jim-case-top-left {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
  pointer-events: none;
}
.s800x1280 #jim-case #jim-case-top-center {
  width: 770.0px;
  height: 40px;
  background-size: 800.0px 40px;
  overflow: hidden;
}
.s800x1280 #jim-case #jim-case-top-right {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
  pointer-events: none;
}
.s800x1280 #jim-case #jim-case-center-left {
  width: 40px;
  height: 1250.0px;
  background-size: 40px 1280.0px;
}
.s800x1280 #jim-case #jim-case-center-center {
  width: 800.0px;
  height: 1280.0px;
}
.s800x1280 #jim-case #jim-case-center-right {
  width: 40px;
  height: 1250.0px;
  background-size: 40px 1280.0px;
}
.s800x1280 #jim-case #jim-case-bottom-left {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
  pointer-events: none;
}
.s800x1280 #jim-case #jim-case-bottom-center {
  width: 770.0px;
  height: 40px;
  background-size: 800.0px 40px;
}
.s800x1280 #jim-case #jim-case-bottom-right {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
  pointer-events: none;
}
.s800x1280 #jim-case.landscape {
  transform-origin: 50% 32.352943% 0;
}